h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(163, 109, 15);
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.articoliSuggeriti, .header{
    background-color: rgba(154, 154, 154, 0.34);
}

.articoliSuggeriti:hover, .header:hover{
    background-color: rgb(111, 2, 114);
}

.articoliEvidenziati{
    background-image: linear-gradient(rgba(222, 220, 220, 0.5), rgba(195, 192, 192, 0.5)), url(./Media/sfondo\ aulab.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.immaginiArticoli{
    height: 400px;
    width: 700px;
}